.nav {
  position: fixed;
  z-index: 300;
  width: 100%;
}

.link, .link2 {
  color: #6a6d71;
  font-size: 18px;
  transition: all 0.3s;
}

.link:hover, .link2:hover {
  color: #fca311;
}

.link {
  margin-right: 10px;
}
